body{
    width: 100%;
    margin: 0;
    font-family: "Lato", open sans;
}

nav{
    width: 100%;
    background-color: #D7B582;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-container{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo-container{
    width: 230px;
    cursor: pointer;
}

.menu-container{
    display: flex; 
    justify-content: end;
    align-items: center;
    height: 60px;
    width: 60%;   
}

.menu-small {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 60px;
}


.menu-list-small{
    position: absolute;
    flex-direction: column;
    display: none;
    top: 60px;
    right: 0;
    background-color: #D7B582;
    color: #FFFFFF;
    padding: 10px 0;
    text-align: right;
}

#button-menu{
    background-color: #D7B582;
    border: none;
}

#menu > div > ul > li {
    padding: 10px 0;
    width: 90%;
    border-bottom: 1px solid #747474;
}

#menu > div > ul > li > a{
    text-decoration: none;
    color: #FFFFFF;
}
#menu>div>ul>li:nth-child(3){
    border-bottom: 0;
}

.menu-list{
    display: flex; 
    justify-content: space-around;
    align-items: center;
}

 ul {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex; 
    justify-content: center;
    align-items: center;
    list-style: none;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 200;
}

body > nav > div > div.menu-container > ul > li > a:hover{
    color: #747474;
}
body > nav > div > div.menu-container > ul > li > a {
    text-decoration: none;
    color: #FFFFFF;
}

.cart-icon, .menu-icon{
    width: 30px;
    height: 30px;
    fill: #FFFFFF;
    margin: 0 5%;
}

.cart-icon:hover, .menu-icon:hover{
    fill: #747474;
    cursor: pointer;
}



@media (min-width: 980px) {
    .nav-container {
      width: 75%;
    }
  }

@media (min-width: 1250px) {
    
    .nav-container{
        width: 60%;
    }
  }

@media (min-width: 1440px){

    .menu-container {
        width: 40%;
      } 
  }

  /* END NAV STYLES */

.container-breadcrumbs{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
    padding: 5% 5%;
}

  .breadcrumbs{
    font-size: 16px;
    margin: 0;
  }
section.container-breadcrumbs > p > a {
    color: inherit;
  }

.container-breadcrumbs > p > a:hover {
    text-decoration: none;
}

/* END BREADCRUMBS STYLES*/

.product-card{
    margin: 0 auto;
    width: 90%;
}

.product-card > h1{
    font-size: 25px;
    color: #545454;}

.product-card > h2 {
    font-size: 18px;
    color: #545454;
    margin-bottom: 5%;
    font-weight: 200;
}

.demo-button{
    background-color: #D7B582;
    border: none;
    border-radius: 7px;
    padding: 10px 20px;
    font-size: 18px;
    color: #FFFFFF;
    margin: 10% auto;
    display: block;
}

.card-text{
    font-size: 18px;
    font-weight: 200;
}

.rate-text{
    font-size: 22px;
    color: #545454;
}

.price{
    font-size: 30px;
    color: #545454;
}

.container-price{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.buy-button{
    background-color: #82A4D7;
    border: none;
    border-radius: 7px;
    padding: 10px 20px;
    font-size: 18px;
    color: #FFFFFF;
    margin: 0;
}

 /* END CARD PRODUCT SECTION STYLES*/


 .section-review{
    margin-top: 10%;
    width: 100%;
    background-color: #ECECEC;
    padding: 10% 0;
 }

.form-container{
    margin: 0 auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-input{
    font-size: 18px;
    margin: 2.5% 0;
    border-radius: 7px;
    border: none;
    width: 90%;
    padding: 10px 15px;
}

textarea{
    font-family: "Lato", open sans;
    width: 90%;
    padding: 10px 15px;
    font-size: 18px;
    margin: 2.5% 0;
    border-radius: 7px;
    border: none;
}

footer{
    background-color: #464646;
    padding: 5% 5%;
    width: 90%;
}

footer > p {
    text-align: center;
    color: #FFFFFF;
    font-size: 16px;
}