body{
    width: 100%;
    margin: 0;
    font-family: "Lato", open sans;
}

nav{
    width: 100%;
    background-color: #D7B582;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-container{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo-container{
    width: 230px;
    cursor: pointer;
}

.menu-container{
    display: flex; 
    justify-content: end;
    align-items: center;
    height: 60px;
    width: 60%;   
}

.menu-small {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 60px;
}


.menu-list-small{
    position: absolute;
    flex-direction: column;
    display: none;
    top: 60px;
    right: 0;
    background-color: #D7B582;
    color: #FFFFFF;
    padding: 10px 0;
    text-align: right;
}

#button-menu{
    background-color: #D7B582;
    border: none;
}

#menu > div > ul > li {
    padding: 10px 0;
    width: 90%;
    border-bottom: 1px solid #747474;
}

#menu > div > ul > li > a{
    text-decoration: none;
    color: #FFFFFF;
}
#menu>div>ul>li:nth-child(3){
    border-bottom: 0;
}

.menu-list{
    display: flex; 
    justify-content: space-around;
    align-items: center;
}

 ul {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex; 
    justify-content: center;
    align-items: center;
    list-style: none;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 200;
}

body > nav > div > div.menu-container > ul > li > a:hover{
    color: #747474;
}
body > nav > div > div.menu-container > ul > li > a {
    text-decoration: none;
    color: #FFFFFF;
}

.cart-icon, .menu-icon{
    width: 30px;
    height: 30px;
    fill: #FFFFFF;
    margin: 0 5%;
}

.cart-icon:hover, .menu-icon:hover{
    fill: #747474;
    cursor: pointer;
}

  /* END NAV STYLES */

.container-breadcrumbs{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
    padding: 5% 5%;
    margin: 0 auto;
}

  .breadcrumbs{
    font-size: 16px;
    margin: 0;
  }
section.container-breadcrumbs > p > a {
    color: inherit;
  }

.container-breadcrumbs > p > a:hover {
    text-decoration: none;
}

/* END BREADCRUMBS STYLES*/

.product-card{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 90%;
}

.tittle{
    font-size: 25px;
    color: #545454;}

.author {
    font-size: 18px;
    color: #545454;
    margin-bottom: 5%;
    font-weight: 200;
}
.cover-book-container{
    width: 100%;
}

.cover-book-container > img{
    width: 100%;
    margin: 0 auto;
    display: block
}



.card-text{
    font-size: 18px;
    font-weight: 200;
}

.rate-text{
    font-size: 22px;
    color: #545454;
}

.start {
    position: relative;
    margin: 10px 0;
    display: flex;
    flex-direction: row-reverse;
}

.stars input{
    -webkit-appearance: none;
    appearance: none;
}
.stars input::before{
    content: '\f005';
    font-family: fontAwesome;
    font-size: 30px;
    color: #ffc400;
    transition: 0.25s;
}

.stars input:nth-child(2n + 1)::before{
    left: initial;
}

.stars input:hover ~ input::before,
.stars input:checked ~ input::before{
    color: #545454;
}

.price{
    font-size: 30px;
    color: #545454;
}

.container-price{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.buy-button{
    cursor: pointer;
    background-color: #82a4d791;
    border: none;
    border-radius: 7px;
    padding: 10px 20px;
    font-size: 20px;
    color: #FFFFFF;
    margin: 0;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.25);
    transition: 300ms;
}

.buy-button:hover{
    background-color: #82A4D7;

}

 /* END CARD PRODUCT SECTION STYLES*/


 .section-review{
    margin-top: 10%;
    width: 100%;
    background-color: #ECECEC;
    padding: 10% 0;
 }

.form-container{
    margin: 0 auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-input{
    font-size: 18px;
    margin: 2.5% 0;
    border-radius: 7px;
    border: none;
    width: 90%;
    padding: 10px 15px;
}

.submit-button{
    cursor: pointer;
    background-color: #d7b582b0;
    border: none;
    border-radius: 7px;
    padding: 10px 20px;
    font-size: 18px;
    color: #FFFFFF;
    margin: 2.5% auto;
    display: block;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.25);
    width: 95%; 
    transition: 200ms;
}

.submit-button:hover{
    background-color: #D7B582;
}

textarea{
    font-family: "Lato", open sans;
    width: 90%;
    padding: 10px 15px;
    font-size: 18px;
    margin: 2.5% 0;
    border-radius: 7px;
    border: none;
}

footer{
    background-color: #464646;
    padding: 5%;
    width: auto;
}

footer > p {
    text-align: center;
    color: #FFFFFF;
    font-size: 16px;
}

/* BREAKPOINTS */
@media (min-width: 768px) {
    
    .cover-book-container{
        width: 45%;
        margin-right: 2.5%;
    }
    
    .tittle-container{
        order: -1;
    }

    footer{
        padding: 1.5%;
    }

    .section-review{
        margin-top: 5%;
        padding: 5% 0;
    }

    #info-container{
        display: flex;
        flex-direction: column;
        margin-left: 2.5%;
        width: 45%;
    }

    .product-card{
        flex-direction: row;
    }
    .form-container{
        width: 60%;
    }
}

@media (min-width: 980px) {
    .container-breadcrumbs{
        width: 75%;
    }
     .product-card{
        width: 75%;
    }
    .buy-button{
        margin: 0 10%;
    }
    .container-price{
        justify-content: start;
    }
    .nav-container {
      width: 75%;
    }
  }

@media (min-width: 1250px) {
    .container-breadcrumbs{
        width: 60%;
        padding: 2%;
    }
    .product-card{
        width: 60%;
    }
    
    .cover-book-container > img{
        width: 75%;        
    }

    .nav-container{
        width: 60%;
    }
    .form-container{
        width: 40%;
    }
  }

@media (min-width: 1440px){

    .menu-container {
        width: 40%;
      } 
  }